.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgb(120,20,20);
  width: 15%;
  color: white;
}

.section_1_menu {
  padding: 0px;
  margin: 0px;
}

.section_1_item {
  list-style: none;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.messages {
  width: 70%;
  position: relative;
  left: 30%;
  right: 0%;
  bottom: 0px;
  top: 10%;
}

.class_list {
  position: fixed;
  left: 10%;
  top: 0px;
  bottom: 0px;
  background-color: rgb(230,230,230);
  width: 20%;
}

.chat_bar {
  width: 85%;
  position: fixed;
  background-color: rgb(200,200,200);
  left: 30%;
  right:10%;
  bottom:0%;
  top: 90%;
}

#chat_box {
  width: 72%;
  margin: 1.5rem;
}
